<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Administration panel</title>
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            margin-top: 50px;
        }
        table {
            width: 70%;
            margin: auto;
            margin-top: 20px;
        }
        th, td {
            text-align: center;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h1 class="text-center"><a th:href="@{/}" class="text-decoration-none text-dark">OShop</a></h1>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registration">Registration</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">OShop</h1>
            <hr>
            <h3 class="text-center">Administration panel</h3>

            <!-- Form for finding user by email -->
            <form th:action="'/admin/user/email'" method="get" class="mb-4">
                <div class="form-row">
                    <div class="col-md-8">
                        <input type="email" name="email" class="form-control" placeholder="Find by email">
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary">Find by email</button>
                    </div>
                </div>
            </form>

            <!--Showing the found user-->
            <div th:if="${userByEmail != null}">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${userByEmail.id}"></td>
                        <td th:text="${userByEmail.email}"></td>
                        <td th:text="${userByEmail.name}"></td>
                        <td>
                            <!-- button for delete user -->
                            <form th:action="'/admin/user/delete/' + ${userByEmail.id}" method="post">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Showing a message about no results -->
            <div th:if="${not #strings.isEmpty(noResultsMessage)}">
                <p th:text="${noResultsMessage}"></p>
            </div>

            <!--Show all users (if they exist)-->
            <div th:if="${not #lists.isEmpty(users)}">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Phone number</th>
                        <th>Is active</th>
                        <th>Delete</th>
                        <th>Ban</th>
                        <th>Edit user</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.phoneNumber}"></td>
                        <td th:text="${user.isActive}"></td>
                        <td>
                            <!-- Button for delete user -->
                            <form th:action="'/admin/user/delete/' + ${user.id}" method="post">
                                <input type="hidden" name="_method" value="delete">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                        <td>
                            <!-- Button for ban user -->
                            <form th:action="'/admin/user/ban/' + ${user.id}" method="post">
                                <button type="submit" class="btn btn-danger">Ban</button>
                            </form>
                        </td>
                        <td>
                            <!-- Change user's role -->
                            <form th:action="'/admin/user/edit/' + ${user.id}" method="get">
                                <button type="submit" class="btn btn-danger">Edit</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>